body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* Black background */
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    width:100%;	
}

.gold-effect {
    color: #FFD700; /* Gold color for text */
    background: linear-gradient(45deg, #FFD700, #FFA500, #FF8C00, #FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 5px rgba(255, 215, 0, 0.5);
}

.image-container img {
    width: 20%; /* Adjust as necessary */
    height: auto;
    filter: drop-shadow(0 0 5px rgba(255, 215, 0, 0.5));
}

h1{
   font-size:5em;
}